.sidebar-nav { font-size: 13px; }
#sidebar-nav { margin-top: -1px; }
.sidebar-nav-header {
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    font-size: 16px;
    margin: 0;
    padding: 15px;
    position: relative;
}
.sidebar-nav-header a:after {
    font-size: 17px;
    content: "\f0c9";
    position: absolute;
    top: 16px;
    right: 15px;
    font-weight: 400;
    display: inline-block;
    font-family: FontAwesome;
}

.sidebar-nav ul { list-style: none; margin: 0; padding: 0; }
.sidebar-nav li { border: 1px solid #d6d6d6; border-radius: 0 !important; padding: 0; position: relative; }
.sidebar-nav li a { display: block; padding: 10px 20px; }
.sidebar-nav li a,
.sidebar-nav-header a { color: #212121; }
.sidebar-nav li a:hover { text-decoration: none; }
.sidebar-nav li a.badge-on { padding-right: 50px; }
.sidebar-nav li .icon { border: 0 !important; color: #BFBFBF; font-size: 11px; padding: 12px 10px; position: absolute; right: 0; top: 0; }
.sidebar-nav li .icon i:before { content: "\f078"; }
.sidebar-nav li .icon.collapsed i:before { content: "\f054"; }
.sidebar-nav li ul .list-group-item { background-color: #f6f6f6; border: 0; border-top: 1px solid #d6d6d6; margin-bottom: 0; }
.sidebar-nav li ul .list-group-item > a { padding-left: 32px; padding-left: 2rem; }
.sidebar-nav .list-group-item a { border-left: 2px solid transparent; }
.sidebar-nav .list-group-item.active, .sidebar-nav .list-group-item:hover { background-color: #efefef; border-color: #d6d6d6; }
.sidebar-nav .list-group-item .badge { font-size: 11px; margin-right: 10px; margin-top: 13px; padding: 3px 5px; }
.sidebar-nav .list-dropdown > .list-dropdown { margin-right: 30px; }
.sidebar-nav .dropdown > a:after { color: #bfbfbf; content: "\f054"; display: inline-block; font-family: FontAwesome; font-size: 11px; font-weight: normal; position: absolute; right: 9px; top: 50%; margin-top: -7px; }
.sidebar-nav .dropdown:hover > .dropdown-menu { display: block; left: 100%; top: 0; }
.sidebar-nav .megamenu { position: relative; }
.sidebar-nav .megamenu .dropdown-menu, .sidebar-nav .megamenu li { border: 0; }
.sidebar-nav .megamenu .dropdown-menu { border-top: 3px solid; width: 890px; }
.sidebar-nav .megamenu .dropdown-menu a { border: 0; }
.sidebar-nav .megamenu a { font-size: 13px; }
.sidebar-nav .dropdown-submenu { position: relative; }
.sidebar-nav .dropdown-submenu > a:after { color: #bfbfbf; content: "\f054"; display: inline-block; font-family: FontAwesome; font-size: 11px; font-weight: normal; position: absolute; right: 9px; top: 12px; }
.sidebar-nav .dropdown-submenu > .dropdown-menu { border: 0; border-top-width: 3px; border-top-style: solid; top: 0px; left: 100%; margin-top: -4px; margin-left: 0px; min-width: 200px; font-size: 13px; font-size: calculateRem(13px); }
.sidebar-nav .dropdown-submenu:hover > .dropdown-menu { display: block; }
.sidebar-nav .dropdown-submenu li { border: 0; border-top: 1px solid #d6d6d6; }
.sidebar-nav .dropdown-submenu li.active > a { background-color: #efefef; color: #212121; }
.sidebar-nav .dropdown-submenu a { border: 0; clear: none; line-height: inherit; }
.sidebar-nav .dropdown-submenu a.badge-on { padding-right: 60px; padding-right: 3.75rem; }
.sidebar-nav .dropdown-submenu > .badge { margin-right: 30px; }
.sidebar-nav .dropdown-submenu .badge { float: right; }
.sidebar-nav .dropdown-menu { z-index: 9999; }
.sidebar .filters{margin-top:20px}
.sidebar-news .headline{margin-top:5px}
.sidebar-news .sidebar-post{padding:10px;background:#f7f7f7;position:relative;margin-bottom:10px}
.sidebar-news .sidebar-post,.sidebar-news .sidebar-post:after,.sidebar-news .sidebar-post:before{transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out}
.sidebar-news .sidebar-post:after,.sidebar-news .sidebar-post:before{width:0;height:0;right:0;bottom:0;content:" ";display:block;position:absolute}
.sidebar-news .sidebar-post:after{border-top:15px solid #eee;border-right:15px solid transparent;border-left:0 solid transparent;border-left-style:inset;border-right-style:inset}
.sidebar-news .sidebar-post:before{border-bottom:15px solid #fff;border-right:0 solid transparent;border-left:15px solid transparent;border-left-style:inset;border-bottom-style:inset}
.sidebar-news .sidebar-post p{margin-bottom:5px}
.sidebar-news .sidebar-post span{color:#777}
.sidebar-news .sidebar-post .post-title{color:#000}
.sidebar-info li a{color:#555;text-decoration:none}
.sidebar-plugin ul{list-style:none;margin:0;padding:0}
.sidebar-plugin ul li{display:inline-block;padding-top:5px;width:49%}
.sidebar-plugin ul li a{color:#555;font-size:14px}
.sidebar-plugin ul li a:hover{text-decoration:none}
ul.blog-tags li{display:inline-block}
ul.blog-tags a{background:#f7f7f7;color:#555;display:inline-block;font-size:13px;margin:0 3px 6px 0;padding:2px 7px}
ul.blog-tags a i{color:#555}
ul.blog-tags a:hover,ul.blog-tags a:hover i{color:#fff!important;text-decoration:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.sidebar-photos li{display:inline}
.sidebar-photos li img{opacity:.6;width:58px;height:58px;margin:0 2px 8px}
.sidebar-photos li a:hover{text-decoration:none}
.sidebar-photos li img:hover{opacity:1}
.page.container{padding-top:20px}
.col-md-9 .page-content .project_services{background-color:#fff;border-bottom:none}
.col-md-9 .page-content .project_services .service{border:1px solid #f0f0f0;background-color:#fafafa}
.col-md-9 .page-content .project_services .service .service-icon{float:none;display:block}
.col-md-9 .page-content .project_services .service .desc{text-align:center}
.col-md-9 .subcategories a.subcat,.col-md-9 ul.product-items li{width:210px}
.col-md-9 .page-content .row{margin-left:0}
.nopadd,.col-md-12.content .subcategories,.col-md-12.content .product-items{padding-left:0;padding-right:0}
@media (min-width: 1440px) {
.col-md-9 .da-slide h2,.col-md-9 .da-slide p,.col-md-9 .da-slide .da-link{margin-left:-3%}
.col-md-9 .da-slide .da-img{margin-left:6%}
}
@media (min-width: 992px) {
.content,.page-content .project_services,.news,#product-description,.related{padding-right:15px}
.product-slider-arrows{right:15px}
.col-md-12.content .subcategories a.subcat,.col-md-12.content ul.product-items li{margin-right:5px}
}
@media (min-width: 768px) {
    .sidebar-on {
        padding: 0;
    }
}