{strip}
<ul class="copyrightPayments list-inline">
    {if $theme_settings.payment_qiwi}
        <li class="copyrightPayments__li">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="qiwi" class="lazy tooltip-top" data-original="{$wa_theme_url}img/payment/qiwi.png" title="Qiwi">
        </li>
    {/if}
    {if $theme_settings.payment_mastercard}
        <li class="copyrightPayments__li">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard" class="lazy tooltip-top" data-original="{$wa_theme_url}img/payment/mastercard.png" title="Master card">
        </li>
    {/if}
    {if $theme_settings.payment_visa}
        <li class="copyrightPayments__li">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard" class="lazy tooltip-top" data-original="{$wa_theme_url}img/payment/visa.png" title="Visa">
        </li>
    {/if}
    {if $theme_settings.payment_webmoney}
        <li class="copyrightPayments__li">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard" class="lazy tooltip-top" data-original="{$wa_theme_url}img/payment/webmoney.png" title="Webmoney">
        </li>
    {/if}
    {if $theme_settings.payment_yandex}
        <li class="copyrightPayments__li">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard" class="lazy tooltip-top" data-original="{$wa_theme_url}img/payment/yandex.png" title="Яндекс деньги">
        </li>
    {/if}
</ul>
{/strip}