.apps li:hover {background-color: #f4842d;}

.main_menu ul li a:hover,
.main_menu ul li a.active { border-bottom: 2px solid #f4842d;}
.main_menu ul>li.first,
.leftmenu>ul>li.first,
#cart-cats {
	background-color: #f4842d; 
}
.leftmenu>ul>li.first:hover { background-color: #f4842d; }

.product_items>li:hover,
.subcategory:hover { 
    border: 1px solid #f4842d; 
    -moz-box-shadow:0 1px 5px #f4842d;
	-ms-box-shadow:0 1px 5px #f4842d;
	-webkit-box-shadow:0 0px 5px #f4842d;
	box-shadow: 0px 0px 5px #f4842d;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #f4842d;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #d0691a;
}

.news_container,
.sidebar-block-container.white {
	border-top: 3px solid #f4842d;
}

.news .post h3 a:hover {color: #f4842d;}

.photos_container ul li:hover {
	border: 1px solid #f4842d;
}
.recently-viewed li:hover {
	border: 1px solid #f4842d;
}

.product-navigation li.selected {
	border-bottom: 3px solid #f4842d;
	color: #f4842d;
}