.apps li:hover {background-color: #4285f4;}

.main_menu ul li a:hover,
.main_menu ul li a.active { border-bottom: 2px solid #4285f4;}
.main_menu ul>li.first,
.leftmenu>ul>li.first,
#cart-cats {
	background-color: #4285f4;
}
.leftmenu>ul>li.first:hover { background-color: #4285f4; }

.product_items>li:hover,
.subcategory:hover {
    border: 1px solid #4285f4;
    -moz-box-shadow:0 1px 5px #4285f4;
	-ms-box-shadow:0 1px 5px #4285f4;
	-webkit-box-shadow:0 0px 5px #4285f4;
	box-shadow: 0px 0px 5px #4285f4;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #4285f4;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #1950eb;
}

.news_container,
.sidebar-block-container.white {
	border-top: 3px solid #4285f4;
}

.news .post h3 a:hover {color: #4285f4;}

.photos_container ul li:hover {
	border: 1px solid #4285f4;
}
.recently-viewed li:hover {
	border: 1px solid #4285f4;
}

.product-navigation li.selected {
	border-bottom: 3px solid #4285f4;
	color: #4285f4;
}